
#overlay-button {
  position: fixed;
  top: 30px;
  right: 350px;
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center;
  background-color: white; 
  border: none;
  font-size: 30px;
  border-radius: 50%;
  cursor: grab;
  pointer-events: auto;
  z-index: 2147483647; /* Keep it on top */
  user-select: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#overlay-button:hover {
  cursor: pointer;
}